:host {
  display: block;
}

/* Altura real sin header */
.layout-container {
  height: calc(100vh - 64px);
}

/* Sidebar */
.sidebar {
  width: 240px;
}

/* Contenido */
.content {
  padding: 2rem;
  transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
  .layout-container {
    height: calc(100vh - 64px);
  }

  .sidebar {
    width: 80vw;
    max-width: 320px;
  }

  .content {
    padding: 1rem;
  }
}
