<div class="container-fluid p-0 m-0">
  <div class="row g-0" style="height: 100vh">
    <!-- Lado Izquierdo: Login centrado -->
    <div class="col-md-6 d-flex justify-content-center align-items-center bg-white p-0">
      <div class="card shadow-lg p-4 rounded-4" style="width: 100%; max-width: 400px">
        <div class="text-center mb-3">
          <img src="assets/img/logoJDS.jpeg" alt="logo" class="img-fluid" style="height: 56px" />
        </div>

        <h4 class="text-center mb-4 text-dark fw-semibold">Bowling Points</h4>

        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="username" class="form-label">Número de documento</label>
            <input type="text" id="username" class="form-control" placeholder="123456789" formControlName="username"
              inputmode="numeric" />
            <div *ngIf="username?.touched && username?.invalid" class="form-text text-danger">
              <span *ngIf="username?.errors?.['required']">Este campo es obligatorio</span>
              <span *ngIf="username?.errors?.['pattern']">Solo se permiten números</span>
            </div>
          </div>

          <div class="mb-3 position-relative">
            <label for="password" class="form-label">Contraseña</label>

            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control"
                placeholder="Contraseña" formControlName="password" />
              <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
                <i [ngClass]="showPassword ? 'fa fa-eye': 'fa fa-eye-slash'"></i>
              </button>
            </div>

            <div *ngIf="password?.touched && password?.invalid" class="form-text text-danger">
              Este campo es obligatorio
            </div>
          </div>

          <div class="text-end mb-3">
            <a href="#" class="text-primary text-decoration-none">Recuperar contraseña</a>
          </div>

          <button type="submit" class="btn btn btn-outline-primary w-100" [disabled]="form.invalid">
            Ingresar
          </button>
          <div class="text-center mb-3 mt-3">
            <button type="button" class="btn btn-link" (click)="loginAsGuest()">
              Ingresar como invitado
            </button>
          </div>

        </form>
        <div *ngIf="error" class="alert alert-danger mt-3">
          {{ error }}
        </div>
      </div>
    </div>

    <!-- Imagen derecha FULL pantalla -->
    <div class="col-md-6 d-none d-md-block">
      <div class="w-100 h-100" style="
          background: url('assets/img/bowlingcrea.png') center center / cover
            no-repeat;
        "></div>
    </div>
  </div>
</div>
