h1 {
    text-align: center;
}

.container {

    margin-top: 30px;
    margin-bottom: 30px;

    border: 1px solid var(--primary-light);
    border-radius: 8px;
    padding: 20px;
    background-color: var(--pink-light);
    padding: 3%;

}

.card {
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-color: var(--primary-light);
    background-color: var(--pink-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra sutil para las tarjetas */
    transition: transform 0.2s ease-in-out;
    /* Transición suave para el efecto de hover */
}

