<div class="container">

    <form>
        <h1 class="text-center mb-4">Perfil de Jugador</h1>
        <div class="row mb-4">
            <div class="col">
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Ingrese su nombre">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Ingrese su apellido">
                </div>
            </div>
        </div>

        <div class="form-group mb-4">
            <label for="club">Club</label>
            <input type="text" class="form-control" id="club" placeholder="Ingrese su club">
        </div>

        <div class="form-group mb-4">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" placeholder="Ingrese su dirección">
        </div>

        <div class="form-group mb-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
        </div>

        <div class="form-group mb-4">
            <label for="phone">Teléfono</label>
            <input type="tel" class="form-control" id="phone" placeholder="Ingrese su teléfono">
        </div>

        <div class="form-group mb-4">
            <label for="additionalInfo">Información adicional</label>
            <textarea class="form-control" id="additionalInfo" rows="4"
                placeholder="Ingrese información adicional"></textarea>
        </div>

        <button type="submit" class="btn-primary">Actualizar Datos</button>
    </form>
</div>