/* Estilos para el formulario de inicio de sesión */
.container {

    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--pink-light);
}

form {

    padding: 3%;
}

.form-control{

    background-color: transparent;
}