<mat-nav-list class="d-flex flex-column gap-2">

  <!-- Dashboard -->
  <mat-list-item routerLink="/dashboard" routerLinkActive="active" class="d-flex align-items-center gap-3">
    <img src="assets/img/dashboard.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Dashboard</span>
  </mat-list-item>

  <!-- Mis Torneos -->
  <mat-list-item *ngIf="auth.hasRole('JUGADOR')  || auth.hasRole('ADMIN')" routerLink="/mis-torneos"
    routerLinkActive="active" class="d-flex align-items-center gap-3">
    <img src="assets/img/torneo.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Mis Torneos</span>
  </mat-list-item>

  <!-- Mis Resultados -->
  <mat-list-item *ngIf="auth.hasRole('JUGADOR')  || auth.hasRole('ADMIN')" routerLink="/mis-resultados"
    routerLinkActive="active" class="d-flex align-items-center gap-3">
    <img src="assets/img/grafico.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Mis Resultados</span>
  </mat-list-item>

  <!-- Clubes -->
  <mat-list-item *ngIf="auth.hasRole('JUGADOR') || auth.hasRole('ENTRENADOR') || auth.hasRole('ADMIN')"
    routerLink="/club" routerLinkActive="active" class="d-flex align-items-center gap-3">
    <img src="assets/img/clubes.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Club</span>
  </mat-list-item>

  <hr>

  <!-- Torneos -->
  <mat-list-item *ngIf="auth.hasRole('ADMIN')" routerLink="/torneos" routerLinkActive="active"
    class="d-flex align-items-center gap-3">
    <img src="assets/img/torneo.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Torneos</span>
  </mat-list-item>

  <!-- Jugadores -->
  <mat-list-item *ngIf="auth.hasRole('ADMIN')" routerLink="/Usuarios" routerLinkActive="active"
    class="d-flex align-items-center gap-3">
    <img src="assets/img/bola-boliche.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Usuarios</span>
  </mat-list-item>

  <!-- Clubes -->
  <mat-list-item *ngIf="auth.hasRole('ADMIN')" routerLink="/clubes" routerLinkActive="active"
    class="d-flex align-items-center gap-3">
    <img src="assets/img/clubes.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Clubes</span>
  </mat-list-item>

  <!-- Categorias -->
  <mat-list-item *ngIf="auth.hasRole('ADMIN')" routerLink="/categorys" routerLinkActive="active"
    class="d-flex align-items-center gap-3">
    <img src="assets/img/category.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Categorias</span>
  </mat-list-item>

  <!-- Modalidades -->
  <mat-list-item *ngIf="auth.hasRole('ADMIN')" routerLink="/modalitys" routerLinkActive="active"
    class="d-flex align-items-center gap-3">
    <img src="assets/img/modality.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Modalidades</span>
  </mat-list-item>

  <!-- Ambitos -->
  <mat-list-item *ngIf="auth.hasRole('ADMIN')" routerLink="/ambits" routerLinkActive="active"
    class="d-flex align-items-center gap-3">
    <img src="assets/img/ambit.png" height="22" class="me-2" />
    <span *ngIf="isExpanded || isShowing">Ambitos</span>
  </mat-list-item>
</mat-nav-list>
