h1{
    font-size: 32px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 60%;

}
.con{
    padding: 4%;
    font-size: 16px;
    border-color: var(--primary-light);
    background-color: var(--pink-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.parent {
    cursor: pointer;
}

.mat-toolbar {
    background-color: var(--primary);
    color: var(--light);
}

.full-width {
    width: auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    height: 800px;
    border: 1px solid var(--primary-light);
}

.example-sidenav-content {
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    background-color: var(--pink-light);
    user-select: none;
}

.menu-button {
    background-color: #F4E4E3;
    transition: 300ms ease-in-out;
    transform: rotate(0deg);

}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    background-color: #F4E4E3;
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
    background-color: var(--primary-light);
}

.submenu.expanded {
    background-color: #F4E4E3;
    transform: scaleY(1);
}