<mat-toolbar class="bg-primary text-white px-3">
  <button mat-icon-button aria-label="Menu" (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="ms-3 cursor-pointer" (click)="page = 'Torneos'">Bowling Points</span>

  <span class="flex-grow-1"></span>

  <button mat-icon-button aria-label="Notificaciones">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button aria-label="Compartir">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="vh-100 overflow-hidden">
  <mat-sidenav #sidenav mode="side" opened class="bg-light p-2 border-end" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">

    <mat-nav-list class="d-flex flex-column gap-2">
      <mat-list-item *ngFor="let item of navItems" class="d-flex align-items-center gap-3" (click)="page = item.page">
        <img [src]="item.icon" height="22" alt="{{item.label}}" loading="lazy" class="me-2" />
        <span *ngIf="isExpanded || isShowing">{{item.label}}</span>
      </mat-list-item>

      <!-- Submenú -->
      <mat-list-item class="d-flex align-items-center gap-2" (click)="showSubmenu = !showSubmenu">
        <img src="assets/img/ajuste.png" height="22" alt="Cuenta" loading="lazy" class="me-2" />
        <span *ngIf="isExpanded || isShowing">Mi Cuenta</span>
      </mat-list-item>

      <div *ngIf="(isExpanded || isShowing) && showSubmenu" class="ps-4 d-flex flex-column">
        <a mat-list-item (click)="page = 'Cuenta'">Mi perfil</a>
        <a mat-list-item (click)="login()">Cerrar sesión</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido Principal -->
  <div class="p-3 overflow-auto h-100 w-100" *ngIf="page === 'Cartelera'">
  </div>

  <div class="p-3 overflow-auto h-100 w-100" *ngIf="page === 'Torneos'">
    <app-torneos></app-torneos>
  </div>

  <div class="p-3 overflow-auto h-100 w-100" *ngIf="page === 'Jugadores'">
    <app-jugadores></app-jugadores>
  </div>

  <div class="p-3 overflow-auto h-100 w-100" *ngIf="page === 'Cuenta'">
    <app-perfil></app-perfil>
  </div>

  <div class="p-3 overflow-auto h-100 w-100" *ngIf="page === 'clubes'">
    <app-clubes></app-clubes>
  </div>
</mat-sidenav-container>
