.container-xl {

    margin-top: 4%;
   
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para el encabezado de la tabla */
thead th {
    background-color: #f8f9fa;
    color: #212529;
    font-weight: bold;
    border: 1px solid #dee2e6;
}

/* Estilos para las celdas de la tabla */
tbody td {
    border: 1px solid #dee2e6;
}

/* Estilos para las filas impares */
tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

/* Estilos para el botón de regresar */
.btn-outline-secondary {
    margin-bottom: 20px;
}