<div class="container-xl py-2">
  <div class="text-star">
    <button class="btn btn-outline-primary rounded-3 px-4" (click)="goBack()">
      Atras...
    </button>
  </div>

  <!-- Título del torneo -->
  <h1 class="text-center fw-bold mb-2">🏆 {{ resumenTorneo?.tournamentName }}</h1>
  <h5 class="text-center text-muted mb-4">
    <strong>Organizador:</strong> Liga de Bolos del Valle
  </h5>

  <!-- Tabla de resultados -->
  <div class="card shadow-sm border-0 rounded-4">
    <div class="table-responsive">
      <table
        class="table table-rounded table-hover table-sm border table-bordered border-gray-300 table-vmiddle text-center align-middle">
        <thead class="bg-light-secondary align-middle">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Club</th>
            <th *ngFor="let idx of [].constructor(maxJuegos); let i = index">
              Línea {{ i + 1 }}
            </th>
            <th>Total</th>
            <th>Promedio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players; let pos = index">
            <td>{{ pos + 1 }}</td>
            <td class="cursor-pointer player-zoom"> <a [routerLink]="['/detalle-jugador', player.personId]"
                style="text-decoration: none; color: black;">
                {{ player.playerName }}
              </a> </td>
            <td>{{ player.clubName }}</td>
            <td *ngFor="let idx of [].constructor(maxJuegos); let i = index">
              {{ player.scores && player.scores[i] !== undefined ? player.scores[i] : '-' }}
            </td>
            <td>{{ player.total }}</td>
            <td>{{ player.promedio }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
