.container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  border-radius: 8px;
}

.card-title {
  font-size: 1.5rem;
}

.list-group-item {
  background-color: #f8f9fa;
  border: none;
}

.btn {
  width: 100%;
  font-weight: bold;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
