<div class="mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <!-- Botón Atrás -->
      <div class="mb-3">
        <button class="btn btn-outline-primary" (click)="goBack()">
          <i class="fas fa-arrow-left"></i> Atrás
        </button>
      </div>

      <!-- Tarjeta del jugador -->
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <!-- Foto del jugador -->
          <img [src]="apiUrl + statisticsUser?.photoUrl" (error)="onImgError($event, 'assets/img/perfilDefault.png')"
            class="rounded-circle img-fluid" alt="Foto del jugador" style="width: 150px; height: 150px; object-fit: cover" />
          <!-- Nombre del jugador -->
          <h3 class="my-3">{{ statisticsUser?.fullName }}</h3>
          <!-- Edad del jugador -->
          <p class="text-muted">Edad: {{ statisticsUser?.age }} años</p>
          <!-- Club del jugador -->
          <p class="text-muted">Club: {{ statisticsUser?.club }}</p>
        </div>
      </div>

      <!-- Detalles adicionales del jugador -->
      <div class="card mt-3 shadow-lg">
        <div class="card-body">
          <h5 class="card-title text-center">Detalles del Jugador</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Promedio:</strong>
              {{ statisticsUser?.avgScore != null ? (statisticsUser.avgScore | number:'1.0-2') : 'N/A' }}
            </li>

            <!-- MEJOR JUEGO -->
            <li class="list-group-item">
              <strong>Mejor Juego:</strong>
              {{ statisticsUser?.bestGame != null ? (statisticsUser.bestGame | number:'1.0-2') : 'N/A' }}
            </li>
            <li class="list-group-item">
              <strong>Torneos Jugados:</strong> {{ statisticsUser?.totalTournaments || 'N/A' }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
