<div class="container mt-4">
  <h1 class="text-center mb-6">Clubes</h1>

  <form [formGroup]="filtrosForm" class="d-flex flex-wrap gap-3">
    <div class="d-flex flex-wrap flex-row gap-3">
      <!-- Buscar -->
      <div class="mb-3" style="width: 200px;">
        <label class="form-label">Buscar</label>
        <input type="text" class="form-control me-2" placeholder="Buscar" [(ngModel)]="filter" />
      </div>
      <div class="ms-auto d-flex align-items-center mt-2">
        <button class="btn btn-secondary btn-sm w-150 me-2" style="height: 36px;" (click)="clear()">
          <i class="fa-duotone fa-solid fa-xmark"></i> Limpiar
        </button>
        <button class="btn btn-primary btn-sm w-150" style="height: 36px;" (click)="search()">
          <i class="fa-duotone fa-solid fa-filter-list"></i> Buscar
        </button>
      </div>
    </div>
  </form>
  <hr>
  <div class="row">
    <div class=" col-md-3" *ngFor="let club of clubes">
      <div class="card mb-4">
        <img src="{{club.image}}" class="card-img-top mt-4" alt="{{club.name}}">
        <div class="card-body text-center">
          <h4 class="card-title">{{club.name}}</h4>
          <p class="small">{{club.description}}</p>
          <a href="{{club.link}}" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>
