<div class="container mt-4 mb-4">

  <!-- Botón Volver -->
  <div class="mb-4">
    <button (click)="goBack()" class="btn btn-outline-primary rounded-3 px-4">
      Atras...
    </button>
  </div>

  <h1 class="text-center mb-5">Torneos {{ ambitName }}</h1>

  <!-- Mostrar lista de torneos si los datos están disponibles -->
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4 mb-4" *ngFor="let item of listaTorneos">
      <div class="card card_h text-center shadow-sm border-0 h-100"
        [routerLink]="['/resumen-torneo', item.tournamentId]">

        <!-- Header -->
        <div class="bg-primary text-white py-2 rounded-top d-flex justify-content-center align-items-center">
          <h4 class="badge bg-warning text-dark fw-semibold mb-0 text-center px-3 py-1">{{ item.name }}</h4>
        </div>

        <!-- Body -->
        <div class="card-body  d-flex flex-column justify-content-center align-items-center gap-2 py-3">
          <h4 class="fw-bold text-center mb-2">{{ item.location }}</h4>
          <img src="../../../../assets/img/torneoDefault.png" width="70" height="70" alt="Trofeo" class="img-fluid">
          <p class="card-text text-muted small mb-0"><strong>Organizador:</strong> {{ item.location }}</p>
        </div>

      </div>
    </div>
  </div>
</div>
