<div class="container mt-4">
  <h1 class="text-center">Categorias</h1>

  <div class="d-flex justify-content-between align-items-end flex-wrap mb-3">
    <!-- Filtro -->
    <div class="d-flex flex-column flex-md-row align-items-start gap-2">
      <div>
        <label class="form-label mb-1">Buscar</label>
        <input type="text" class="form-control form-control-sm" style="height: 36px; width: 250px;" placeholder="Buscar"
          [(ngModel)]="filter" name="filter" />
      </div>
      <div class="d-flex gap-2 pt-md-4">
        <button class="btn btn-outline-secondary btn-sm  align-items-center" style="height: 36px; width: 100px;"
          (click)="clear()">
          <i class="fas fa-times me-1"></i> Limpiar
        </button>
        <button class="btn btn btn-outline-primary btn-sm  align-items-center" style="height: 36px; width: 100px;"
          (click)="search()">
          <i class="fas fa-search me-1"></i> Buscar
        </button>
      </div>
    </div>

    <!-- Botón Crear -->
    <div class="pt-md-4">
      <button class="btn btn-success btn-sm  align-items-center" style="height: 36px; width: 100px;"
        (click)="openModal(modalCategory)">
        <i class="fas fa-plus-circle me-1"></i> Crear
      </button>
    </div>
  </div>

  <hr>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-rounded table-hover border table-bordered border-gray-300 table-vmiddle text-center">
        <thead class="bg-light-secondary">
          <tr class="fw-bold">
            <th>ID:</th>
            <th>Nombre</th>
            <th>descripcion</th>
            <th>Estado</th>
            <th>Aciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let category of filteredCategories">
              <td>{{ category.categoryId }}</td>
              <td>{{ category.name }}</td>
              <td>{{ category.description || '-'  }}</td>
              <td>{{ category.status || '-' }}</td>
              <td>
                <div class="d-flex justify-content-center gap-2">
                  <!-- Botón Editar - Azul suave -->
                  <button class="btn btn-sm d-flex align-items-center justify-content-center px-2"
                    style="background-color: rgba(0, 123, 255, 0.1); color: #007bff; border-radius: 0.5rem; min-width: 40px; height: 36px;"
                    (click)="editCategory(category)">
                    <i class="fas fa-edit"></i>
                  </button>

                  <!-- Botón Eliminar - Rojo suave -->
                  <button class="btn btn-sm d-flex align-items-center justify-content-center px-2"
                    (click)="deleteCategory(category.categoryId)"
                    style="background-color: rgba(220, 53, 69, 0.1); color: #dc3545; border-radius: 0.5rem; min-width: 40px; height: 36px;">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <ng-template #modalCategory>
      <div class="modal-content">
        <div class="modal-header bg-primary text-white py-2 px-3 d-flex justify-content-between align-items-center">
          <h2 class="modal-title flex-grow-1 m-0">
            {{ idCategory ? 'Editar' : 'Crear' }} Categoria
          </h2>
          <button type="button" class="btn-close btn-close-white ms-2" aria-label="Close" (click)="closeModal()"
            style="filter: brightness(0) invert(1);"></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="categoryForm" novalidate>
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Nombre Categoria</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nombre" [ngClass]="{
                'is-invalid': categoryForm.controls['name'].invalid && categoryForm.controls['name'].touched,
                'is-valid': categoryForm.controls['name'].valid
              }" />
              </div>

              <div class="col-md-6">
                <label class="form-label">Descripcion</label>
                <input formControlName="description" type="text" class="form-control" placeholder="Descripcion"
                  [ngClass]="{
                'is-invalid': categoryForm.controls['description'].invalid && categoryForm.controls['description'].touched,
                'is-valid': categoryForm.controls['description'].valid
              }" />
              </div>

              <div class="col-md-10">
                <label class="form-label">Estado</label>
                <select class="form-select" formControlName="status" [ngClass]="{
            'is-invalid': categoryForm.controls['status'].invalid && categoryForm.controls['status'].touched,
            'is-valid': categoryForm.controls['status'].valid
          }">
                  <option [ngValue]="null" disabled>Seleccione un estado</option>
                  <option *ngFor="let estado of estados" [ngValue]="estado.valor">
                    {{ estado.etiqueta }}
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancelar</button>
            <button type="button" class="btn btn-success" [disabled]="categoryForm.invalid"
              (click)="saveForm()">Guardar</button>
          </div>
        </div>
      </div>
    </ng-template>
