<div class="container p-4">

  <!-- Botón Volver -->
  <div class="mb-3">
    <button (click)="goBack()" class="btn-s">Devolver al buscador</button>
  </div>

  <!-- Resumen del Torneo -->
  <div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
      <h2 class="card-title mb-0">Resumen del Torneo</h2>
    </div>
    <div class="card-body">
      <p><b>Organizador:</b> {{ result_ResumenToreno.organizador }}</p>
      <p><b>Nombre:</b> {{ result_ResumenToreno.nombre }}</p>
      <p><b>Fecha de inicio:</b> {{ result_ResumenToreno.fecha_inicio }}</p>
      <p><b>Fecha de finalización:</b> {{ result_ResumenToreno.fecha_finalizacion }}</p>
    </div>
  </div>

  <!-- Eventos (Masculino, Femenino, etc.) -->
  <div class="row g-4">
    <div class="col-md-6" *ngFor="let eventType of result_ResumenToreno.todoevento">
      <div class="card shadow-sm h-100">
        <div class="card-body"  [routerLink]="['/detalle-torneo', 1]">
          <h4 class="card-title text-center mb-3">{{ eventType.nombreRama }}</h4>
          <p class="text-center text-muted mb-4">Total Jugadores: <b>{{ eventType.cantidadJugadores }}</b></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modalidades de este evento -->
  <div class="row g-4 mt-2">
    <div class="col-6" *ngFor="let modalidad of result_ResumenToreno.modalidades">
      <div class="card text-center shadow-sm border-0 bg-light">
        <div class="card-body p-2">
          <h6 class="mb-0">{{ modalidad }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
