.container {
    margin-top: 30px;
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: var(--pink-light);

}

h2 {
    margin: 5px;
}

.card-header {
    background-color: var(--primary) !important;
    border-radius: 5px;
    
}

.row{
    justify-content: center;
}
.card-body {
    background-color: var(--pink-light);
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 2%
}


.card-title, .card-text {
    font-size: 18px;
    text-align: center;

}

.btn-primary {
    margin-left: 35%;
}