/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.a {
  color: var(--primary-dark);
}

.a:hover {
  color: var(--primary);
}

.card_h:hover {
  transform: scale(1.03);
  background-color: #f8f9fa;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn-s {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;

}

.btn-s:hover {
  color: white;
  background-color: var(--primary)
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fa-mars {
  color: #007bff !important;
}

.fa-venus {
  color: #e83e8c !important;
}

/* Asegura tamaño y alineación */
.fa-solid {
  font-size: 1.1rem;
  vertical-align: middle;
}

