<div class="container mt-4">
  <h1 class="text-center">Jugadores</h1>
  <div class="d-flex justify-content-between align-items-end flex-wrap mb-3">
    <!-- Filtro -->
    <div class="d-flex flex-column flex-md-row align-items-start gap-2">
      <div>
        <input type="text" class="form-control form-control-sm" style="height: 36px; width: 250px;" placeholder="Buscar"
          [(ngModel)]="filter" name="filter" />
      </div>
      <div class="d-flex gap-2">
        <button class="btn btn-outline-secondary btn-sm align-items-center" style="height: 36px; width: 100px;"
          (click)="clear()">
          <i class="fas fa-times me-1"></i> Limpiar
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-rounded table-hover border table-bordered border-gray-300 table-vmiddle text-center">
        <thead class="bg-light-secondary">
          <tr class="fw-bold">
            <th>Foto</th>
            <th>Nombre</th>
            <th>Promedio puntuación</th>
            <th>Mejor juego</th>
            <th>Torneos Jugados</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td><img [src]="apiUrl + player.photoUrl" (error)="onImgError($event, 'assets/img/perfilDefault.png')"
                alt="foto" width="40" height="40" class="rounded-circle"></td>

            <td class="align-items-center">{{ player.fullName }}</td>
            <td>{{ (player.averageScore | number:'1.2-2') || '-' }}</td>
            <td>{{ (player.bestGame | number:'1.2-2') || '-' }}</td>
            <td>{{ player.joinjoinedAt || '-' }}</td>
            <td class="text-center"><button class="btn btn-sm px-2" [routerLink]="['/player-details', player.personId]"
                style="background-color: rgba(0, 123, 255, 0.1); color: #007bff; border-radius: 0.5rem; min-width: 40px; height: 36px;">
                <i class="fa-solid fa-eye"></i> </button></td>
          </tr>
        </tbody>
      </table>
    </div>
